.btn_files{
margin-right:20px;
margin-left:20px;
}


body {
    background-color: #fff;
    font-family: sans-serif;
  }

  h1 {
    font-weight: normal;
    font-size: 140%;
  }
  
  
#statusview {
    background-color: transparent;
	    position:absolute;
	    z-index: 100;
	    right: 45px;
	    top: 100px;
}

#deco {
    background-color: transparent;
	    position:absolute;
	    z-index: 0;
	    right: 130px;
	    top: 80px;
}

#deco_talk {
    background-color: transparent;
	    position:absolute;
	    z-index: 0;
	    right: 225px;
	    top: 72px;
}

#deco_excr {
    background-color: transparent;
	    position:absolute;
	    z-index: 0;
	    right: 225px;
	    top: 72px;
}

.ui-button.redButton {
    background-color: red;
}

