

#Tab1 {
    font-size: 1.0em;
    margin: 0em;
}

#FuncBox{
    font-size: 1em;
    padding: 1px;
    margin: 0.5em;
}

#Func0,#Func1,#Func2,#Func3,
#Func4,#Func5,#Func6,#Func7,
#Func8,#Func9,#Func10,#Func11,
#Func12,#Func13,#Func14,#Func15
{
    width: 3em;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    vertical-align:middle;
}

#speedslider_frame{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}

#speedslider{
    width:120px;
    height:300px;
    background-color: skyblue;
}

#PadNum0,#PadNum1,#PadNum2,#PadNum3,
#PadNum4,#PadNum5,#PadNum6,#PadNum7,
#PadNum8,#PadNum9
{
font-size: 4em;
padding: 0.3em;
margin:0.2em;
}

#PadNumBS,#PadNumCLR
{
font-size: 2em;
padding: 0.3em;
}

#NumKeyPads{
    text-align: center;
}

#CabAddress{
    font-size: 1.8em;
}

#NumAddress
{
    font-size: 3em;
}

.text-input
{
    font-size: 1.0em;
}



